# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: check-shebang-scripts-are-executable
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    name: isort (python)
- repo: https://github.com/psf/black
  rev: 23.10.0
  hooks:
  - id: black
    language_version: python3.12

- repo: https://github.com/python-poetry/poetry
  rev: '1.8.4'  # add version here
  hooks:
    - id: poetry-check
    - id: poetry-lock
      args: ["--no-update"]
      language_version: python3.12
